.footer {
    background-color: var(--hero-background-color);
    padding: 60px 0;
    max-width: 1600px;
    margin: auto;
}

.footer-contacts {
    flex-grow: 1;
}

.footer-logo {
    @include font(26px, 700, 1.19, 0.03em);
    font-family: Raleway,sans-serif;
    text-decoration: none;
    color: var(--title-text-color);
}


.footer-logo__white {
    color:var(--primary-white-color);
}

.footer__box {
    display: flex;
    align-items: baseline;
}

.footer__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer__address {
    text-decoration: none;
    color: var(--main-background-color);
}

.footer__link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    transition-property: color;
    @extend %transition;

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.footer__title {
    @include font(14px, 700, 1.14, 0.03em);
    font-style: normal;
    text-transform: uppercase;
    color:var(--main-background-color);
}

.footer__icons {
    margin-left: 70px;
}

.footer-social-media {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.footer-social-media__item:not(:last-child) {
    margin-right: 10px;
}

.footer-social-media__link {
    @extend %align-list;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--primary-white-color);
    background-color: rgba(255, 255, 255, 0.1);
    transition-property: background-color;
    @extend %transition;

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}